---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<a id="skip-link" href="#main-content">Skip to main content</a>
<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://github.com/iansjk">GitHub</HeaderLink>
  </nav>
</header>
<style>
  #skip-link {
    left: 50%;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
  }

  #skip-link:focus {
    transform: translateY(0);
  }

  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
